<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.complexcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComplexCalculator">
        <activity
            android:name=".specialmathfunction.ActivitySpecialMathFunctionCombinatorics"
            android:exported="false" />
        <activity
            android:name=".specialmathfunction.ActivitySpecialMathFunctionError"
            android:exported="false" />
        <activity
            android:name=".specialmathfunction.ActivitySpecialMathFunctionFactorialGamma"
            android:exported="false" />
        <activity
            android:name=".specialmathfunction.ActivitySpecialMathFunctionBeta"
            android:exported="false" />
        <activity
            android:name=".specialmathfunction.ActivityChooseSpecialMathFunction"
            android:exported="false" />
        <activity
            android:name=".probability.probabilitydistribution.ActivityDiscreteDistributionEvaluated"
            android:exported="false" />
        <activity
            android:name=".probability.probabilitydistribution.ActivityContinuousDistributionEvaluated"
            android:exported="false" />
        <activity
            android:name=".probability.ActivityChooseDistribution"
            android:exported="false" />
        <activity
            android:name=".probability.ActivityProbability"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>